In [3]:
import pandas as pd

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\shoroukabdelraouf\miniconda3\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\shoroukabdelraouf\miniconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shoroukabdelraouf\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shoroukabdelraouf\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shoroukabdelraouf\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\shoroukabdelraouf\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
Cust_data=pd.read_csv('CustomerLoyaltyMemberDetails.csv')

In [6]:
Cust_data.head(3)

,Loyalty Number,First Name,Last Name,Customer Name,Country,Province or State,StateAbbr,City,Latitude,Longitude,...,Coupon Response,Coupon Count,Quantity Sold,Target Sales,Unit Sale Price,Unit Cost,Revenue,Planned Revenue,Customer Lifetime Value,Loyalty Count
0,100018,Mina,Smida,Mina Smida,Canada,Alberta,AB,Edmonton,53.544389,-113.490927,...,Coupon 2,1,3,3,136,115.6,408,399.84,7919.2,1
1,100018,Mina,Smida,Mina Smida,Canada,Alberta,AB,Edmonton,53.544389,-113.490927,...,Coupon 2,1,3,1,136,115.6,408,403.92,7919.2,1
2,100018,Mina,Smida,Mina Smida,Canada,Alberta,AB,Edmonton,53.544389,-113.490927,...,Coupon 2,1,3,2,136,115.6,408,399.84,7919.2,1

In [7]:
Cust_data.columns

Index(['Loyalty Number', 'First Name', 'Last Name', 'Customer Name', 'Country',
       'Province or State', 'StateAbbr', 'City', 'Latitude', 'Longitude',
       'Postal Code', 'Education', 'Location Code', 'Income', 'Order Year',
       'Quarter', 'MonthsAsMember', 'LoyaltyStatus', 'Product Line',
       'Coupon Response', 'Coupon Count', 'Quantity Sold', 'Target Sales',
       'Unit Sale Price', 'Unit Cost', 'Revenue', 'Planned Revenue',
       'Customer Lifetime Value', 'Loyalty Count'],
      dtype='object')

In [9]:
Cust_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127486 entries, 0 to 127485
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Loyalty Number           127486 non-null  int64
 1   First Name               127486 non-null  object
 2   Last Name                127486 non-null  object
 3   Customer Name            127486 non-null  object
 4   Country                  127486 non-null  object
 5   Province or State        127486 non-null  object
 6   StateAbbr                127486 non-null  object
 7   City                     127486 non-null  object
 8   Latitude                 127475 non-null  float64
 9   Longitude                127475 non-null  float64
 10  Postal Code              127486 non-null  object
 11  Education                127486 non-null  object
 12  Location Code            127486 non-null  object
 13  Income                   127486 non-null  int64
 14  Order Year               127486 non-null  int64
 15  Quarter                  127486 non-null  object
 16  MonthsAsMember           127486 non-null  int64
 17  LoyaltyStatus            127486 non-null  object
 18  Product Line             127486 non-null  object
 19  Coupon Response          127486 non-null  object
 20  Coupon Count             127486 non-null  int64
 21  Quantity Sold            127486 non-null  int64
 22  Target Sales             127486 non-null  int64
 23  Unit Sale Price          127486 non-null  int64
 24  Unit Cost                127486 non-null  float64
 25  Revenue                  127486 non-null  int64
 26  Planned Revenue          127486 non-null  float64
 27  Customer Lifetime Value  127486 non-null  float64
 28  Loyalty Count            127486 non-null  int64
dtypes: float64(5), int64(10), object(14)
memory usage: 28.2+ MB

In [10]:
#From 2016-2021, which ORDER_YEAR had the lowest QUANTITY_SO0LD for Photography products?
f_Cust_data = Cust_data[(Cust_data['Product Line'] == 'Photography') & 
                  (Cust_data['Order Year'].between(2016, 2021))]

In [11]:
# group by , sum >> quantity sold
year_sales = f_Cust_data.groupby('Order Year')['Quantity Sold'].sum().reset_index()
year_sales.rename(columns={'Quantity Sold': 'sales_per_year'}, inplace=True)

In [12]:
min_sales = year_sales['sales_per_year'].min()

In [13]:
result = year_sales[year_sales['sales_per_year'] == min_sales]['Order Year']

print(result)

1    2017
Name: Order Year, dtype: int64

In [8]:
# first question
# From 2016-2021, which ORDER_YEAR had the lowest QUANTITY_SO0LD for Photography products?
photography_sales = Cust_data[(Cust_data['Product Line'] == 'Photography') & (Cust_data['Order Year'].between(2016, 2021))]
lowest_quantity_year = photography_sales.groupby('Order Year')['Quantity Sold'].sum().idxmin()
print(lowest_quantity_year)

2017

In [9]:
# second question
# Which PRODUCT_LINE has the highest QUANTITY_SOLD?
highest_product_line = Cust_data.groupby('Product Line')['Quantity Sold'].sum().idxmax()
print(highest_product_line)

TV and Video Gaming

In [10]:
# third question
# Which EDUCATION of the loyalty members had the highest amount of QUANTITY_SOLD in 2020?

education_sales_2020 = Cust_data[Cust_data['Order Year'] == 2020]
highest_education = education_sales_2020.groupby('Education')['Quantity Sold'].sum().idxmax()
print(highest_education)

Bachelor

In [11]:
# fourth question 
# What is the CUSTOMER_NAME who provided the highest REVENUE in 2022?
revenue_2022 =  Cust_data[ Cust_data['Order Year'] == 2022]
highest_revenue_customer = revenue_2022.groupby('Customer Name')['Revenue'].sum().idxmax()
print(highest_revenue_customer)

Gil Frever